@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using BloodBank.Models
@model List<BloodGroup>
<form action="/Home/SearchDonorDetail">
    <select name="bloodGroup.Id" id="blood">
        @foreach (BloodGroup p in Model)
        {
            <option value="@p.Id">@p.Bloodname</option>
        }
    </select>
    <button style="width: 10%" id='savebtn' type="submit">Search</button>
</form>


<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
@if (ViewBag.Data != null)
{
    <table>
        <tr>
            <th>Id</th>
            <th>Group</th>
            <th>Stock</th>
        </tr>
        @foreach (var i in ViewBag.Data)
        {
            <tr>
                <td>@i.Id</td>
                <td>@i.Group</td>
                <td>@i.Count</td>
            </tr>
        }
    </table>
}

@if (ViewBag.registerX != null)
{
    <table>
        <tr>
            <th>Fullname</th>
            <th>Blood Group</th>
            <th>ContactNo</th>
            <th>Address</th>
            <th>Image</th>
        </tr>
        @foreach (var i in ViewBag.registerX)
        {
            <tr>
                <td>@i.FullName</td>
                <td>@i.Bloodname</td>
                <td>@i.ContactNo</td>
                <td>@i.Address</td>
                <td>@i.Image</td>
            </tr>
        }
    </table>
}